html, body {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

hr {
  margin: 0px;
}

.border {
  border: 1px blue solid;
}

.menu-bar {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(0,0,0);
  color: white;
}

.menu-bar a {
  text-decoration: none;
  color: inherit;
}

.menu-bar .title {
  display: flex;
  font-size: 30px;
  padding: 20px;
  margin: auto;
  margin-left: 0px;
}

.menu-bar .title .pic img {
  height: 36px;
  border-radius: 18px;
  margin-right: 10px;
}

.menu-bar .menu {
  display: flex;
  padding: 10px 10px;
}

.menu-item {
  margin: auto;
  padding: 0px 5px;
}

.menu-item .link {
  border: 1px solid;
  padding: 5px;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.menu-item .link:hover {
  background: white;
  color: black;
}

.menu-item .selected {
  background: white;
  color: black;
}

.content {
  min-height: 100%;
  margin-bottom: -30px;
}

.content .top-spacer {
  height: 76px;
}

.content .bottom-spacer {
  height: 50px;
}

.content .heading {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}

.content .heading .title .page-title {
  font-size: 30px;
  font-weight: bold;
}

.content .heading .links {
  display: flex;
  padding: 10px 0px;
}

.content .heading .links i {
  font-size: 30px;
  color: black;
}

.content .heading .links .link {
  padding: 0px 5px;
}

.content .heading .links .link a {
  text-decoration: none;
}

.content .row {
  padding: 5px 20px;
  text-align: justify;
}

.content .row .subtitle {
  font-weight: bold;
}

.content .item-link {
  padding: 5px 20px;
  text-align: justify;
  margin: 10px;
  border: solid 1px gray;
  border-radius: 5px;
  cursor: pointer;
}

.content .item-link .subtitle {
  font-weight: bold;
}

.content .item-link .pubDate {
  background: gray;
  color: white;
  width: fit-content;
  font-size: 12px;
  font-weight: bold;
}

.content .item-link:hover {
  background: rgba(0, 255, 0, 0.4);
  transition: 0.2s;
}

.content .item-link ul {
  margin: 0;
}

@media screen and (max-width: 500px) {
  .menu-bar .menu {
    display: block;
    text-align: right;
  }

  .menu-bar .title {
    padding: 10px;
    font-size: 25px;
  }

  .menu-item {
    padding: 10px 5px;
  }

  .content .top-spacer {
    height: 120px;
  }

  .content .heading {
    display: block;
  }

}

.footer {
  height: 30px;
  display: flex;
  justify-content: space-between;
  background: black;
  color: white;
  font-size: 12px;
}

.footer-content {
  margin: auto;
}

.footer-content a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}
